*{
    margin: 0;
    padding: 0;
}
.head{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.bg-image{
    flex: 2 0 0;
}
.form-elements{
    flex : 3 0 0;
    padding-left : 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Roboto";
}
.intro-text{
    font-weight: 900;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width : 75%;
    gap: 25px;
    font-family: "Roboto";   
}
form > div{
    display: flex;
    flex-direction: column;
    gap : 25px;
    box-shadow: -3px 3px 3px #e5e7eb;
}
.name, .info, .password {
    display: flex;
    flex-direction: row;
}
.name > p, .info > p, .password > p{
    display: flex;
    flex-direction: column;
}
.form-header-text{
    font-weight: 900;
    font-size: 20px;
}
.form-text{
    font-size: small;
}
